<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../styles/exercises/exercise03.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercícios 03</title>
  </head>
  <body id="body">
    <audio id="rare" src="../../sounds/rarity/raro.mp3" preload="auto"></audio>
    <audio id="epic" src="../../sounds/rarity/epico.mp3" preload="auto"></audio>
    <audio id="legendary" src="../../sounds/rarity/lendario.mp3" preload="auto"></audio>
    <audio id="golden-legendary" src="../../sounds/rarity/dourado-lendario.mp3" preload="auto"></audio>
    <div class="filter-wrapper">
      <span class="shop-name">AluCARD'sTore</span>
      <label>Filters</label>
      <select class="custom-select" id="select-rarity-filter" value="All">
        <option value="All">Raridade</option>
        <option value="rare">Rare</option>
        <option value="epic">Epic</option>
        <option value="legendary">Legendary</option>
        <option value="golden-legendary">Golden-Legendary</option>
      </select>
      <select class="custom-select" id="select-price-order" value="Price">
        <option value="Todos">Preco</option>
        <option value="crescente">Menor -> Maior</option>
        <option value="decrescente">Maior -> Menor</option>
      </select>
      <input class="custom-input" type="text" placeholder="Categoria" id="input-category-filter" />
      <input class="custom-input" type="text" placeholder="Primeira cor" id="input-filtro-cor1" />
      <input class="custom-input" type="text" placeholder="Segunda cor" id="input-filtro-cor2" />
      <a class="bt-neon a-button" id="apply-filter-button" onclick="applyFilters()">Apply</a>
      <a class="a-button" href="../../index.html">Voltar</a>
    </div>
    <div id="root"></div>
  <script src="../../controllers/exercises/exercise03.js"></script>
  </body>
</html>

