<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../styles/exercises/exercise04.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercícios 04</title>
  </head>
  <body id="body">
    <div class="exercise01">
      <div class="exercise01-header">
        <h2>Digite um CEP</h2>
        <input class="custom-input" type="number" id="input01" />
        <button id="btPesquisar" class="btn btn-neon bt-small bt-green">
          Pesquisar
        </button>
      </div>
      <textarea id="answer01">
      </textarea>
    </div>
    <script src="../../controllers/exercises/exercise04.js"></script>
  </body>
</html>
