<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../styles/exercises/exercise01.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Exercício 01</title>
  </head>
  <body id="body">
    <div id="header">
      <h1>Exercícios Aula 01</h1>
      <h3>Funções matemáticas simples.</h3>
    </div>
    <div id="root"></div>
    <script src="../../controllers/exercises/exercise01.js"></script>
  </body>
</html>
