<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../styles/exercises/exercise03.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercícios 03</title>
  </head>
  <body>
    <audio id="rare" src="../../sounds/rarity/raro.mp3" preload="auto"></audio>
    <audio id="epic" src="../../sounds/rarity/epico.mp3" preload="auto"></audio>
    <audio id="legendary" src="../../sounds/rarity/lendario.mp3" preload="auto"></audio>
    <audio id="golden-legendary" src="../../sounds/rarity/dourado-lendario.mp3" preload="auto"></audio>
    <div class="filter-wrapper">
      <select id="select-filtro-tamanho" value="Todos">
        <option value="Todos">Tamanho</option>
        <option value="P">P</option>
        <option value="M">M</option>
        <option value="G">G</option>
        <option value="GG">GG</option>
      </select>

      <select id="select-filtro-preco" value="Preco">
        <option value="Todos">Preco</option>
        <option value="crescente">Menor -> Maior</option>
        <option value="decrescente">Maior -> Menor</option>
      </select>

      <input type="text" placeholder="Categoria" id="input-filtro-categoria" />
      <label class="toggle">
        <input type="checkbox" id="checkbox-filtro-categoria"></input>
        <span></span>
      </label>

      <input type="text" placeholder="Primeira cor" id="input-filtro-cor1" />
      <input type="text" placeholder="Segunda cor" id="input-filtro-cor2" />
      <label class="toggle">
        <input type="checkbox" id="checkbox-filtro-cor"></input>
        <span></span>
      </label>
    </div>
    <div id="root"></div>
  <script src="../../controllers/exercises/exercise03.js"></script>
  </body>
</html>

