<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles/exercises/exercise01.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios 01</title>
</head>
<body>
    <h1>Exercícios Aula 01</h1>
    <p>1- Uma função que recebe dois parametros, e retorna a soma entre eles.</p>
    <div>
        <input type=number id="input01">
        <input type=number id="input02">
        <button onclick=handleNarutinho()>Calcular</button>
        <input id="resposta01" placeholder="Resposta01" disabled type="text">
    </div>
    <p>2- Uma função que recebe 5 números, e retorna a média deles.</p>
    <div>
        <input type=number id="input03">
        <input type=number id="input04">
        <input type=number id="input05">
        <input type=number id="input06">
        <input type=number id="input07">
        <button onclick=handleRADmaiorquecodigniter()>Calcular</button>
        <input id="resposta02" placeholder="Resposta02" disabled type="text">
    </div>
    <p>3- Uma função que calcula o IMC (índice de massa corporal) (pesquisem a formula no google, "formula imc")
    <div>
        <input placeholder="Peso em Kg" min="0" type=number id="input08">
        <input placeholder="Altura em Mts" min="0" type=number id="input09">
        <button onclick=handleAlucardOfagner()>Calcular</button>
        <input id="resposta03" placeholder="Resposta03" disabled type="text">
    </div>
    <a href="../../index.html">Voltar</a>
    <script src="../../controllers/exercises/exercise01.js"></script>
</body>
</html>
