@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("../neon-card.css");
@import url("../neon-button.css");

#body {
  padding: 15px;
  font-family: sora !important;
  font-size: 13px;
  background: rgb(14, 14, 14);
  background: radial-gradient(
    circle,
    rgba(14, 14, 14, 1) 0%,
    rgba(52, 52, 52, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
}

#header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#root {
  padding: 50px;
}

.item-wrapper {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input {
  background-color: #747474;
  color: #fff;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  max-width: 100px;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.bt-green {
  color: #7cfc00;
}

.bt-green:hover {
  color: white !important;
  background-color: #7cfc00 !important;
  box-shadow: 0 0 10px #7cfc00, 0 0 30px #7cfc00, 0 0 50px #7cfc00 !important;
}

#back-button {
  padding: 10px;
  color: #820505;
}

#back-button:hover {
  color: white;
  background-color: #820505;
  box-shadow: 0 0 10px #820505, 0 0 30px #820505, 0 0 50px #820505;
}
