@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#body {
  font-family: sora !important;
  font-size: 13px;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  padding: 56px;
  gap: 15px;
  margin-left: 200px;
  text-align: center;
  font-family: sora;
}

.card-container {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-back-img{
  width: 100%;
  height: 100%;
}

.card-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #272325 40%, #020104);
  color: #fff;
  text-transform: uppercase;
  transform: rotateY(180deg);

}

.card-img {
  width: 200px;
  height: 200px;
}

.card-container:hover .card-inner {
  transform: rotateY(180deg);
}

.card-face, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back::after{
  content: "";
  position: absolute;
  border-radius: 18px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  z-index: -1;
}

#card-rare::after {
  background: blue;
  animation: rare 1s linear infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes rare {
  from {
    filter: hue-rotate(315deg);
    filter: blur(5px);
  }
  to {
    filter: hue-rotate(360deg);
    filter: blur(10px);
  }
}

#card-epic::after {
  background: purple;
  animation: epic 1s linear infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes epic {
  from {
    filter: hue-rotate(1deg);
    filter: blur(5px);
  }
  to {
    filter: hue-rotate(45deg);
    filter: blur(10px);
  }
}

#card-legendary::after {
  background: yellow;
  animation: legendary 1s linear infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes legendary {
  from {
    filter: hue-rotate(315deg);
    filter: blur(5px);
  }
  to {
    filter: hue-rotate(360deg);
    filter: blur(10px);
  }
}

#card-golden-legendary::after {
  background: linear-gradient(45deg, #ffd000, #ff0000);
  animation: golden-legendary 1s linear infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes golden-legendary {
  from {
    filter: hue-rotate(315deg);
    filter: blur(5px);
  }
  to {
    filter: hue-rotate(360deg);
    filter: blur(10px);
  }
}

/*------------------------------------------------------------------------------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: ;
  background-color: #020104;
  color:white;
  text-align: center;

}

.filter-wrapper {
  background: linear-gradient(45deg, #272325 40%, #020104);
  margin-top: -72px;
  color:white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  height: 100vh;
  width: 12vw;
  position: fixed;
  padding-top: 62px;
}
