@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("../reset.css");
@import url("../neon-button.css");

body {
  font-family: sora !important;
  font-size: 13px;
  /* background: radial-gradient(circle, transparent 20%, #e5ebb5 20%, #e5ebb5 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5ebb5 20%, #e5ebb5 80%, transparent 80%, transparent) 52.5px 52.5px, linear-gradient(#5a761e 4.2px, transparent 4.2px) 0 -2.1px, linear-gradient(90deg, #5a761e 4.2px, #e5ebb5 4.2px) -2.1px 0;
  background-size: 105px 105px, 105px 105px, 52.5px 52.5px, 52.5px 52.5px; */

}

#root{
  border: 1px solid blue;
  padding: 50px; 
}

#header{
  border: 1px solid red;
  text-align: center;
  font-size: 30px;
}

#input-wrapper{
  text-align: center;
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

#input-recipe-filter{
  min-width: 300px;
}

#main{
  border: 1px solid cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-upper{
  border: 1px solid blue;
}

#paginator-container{
  border: 1px solid red;
  display: flex;
}

#main-center{
  border: 1px solid pink;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#recipes-container {
  border: 1px solid purple;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  padding: 50px;
  gap: 15px;
  text-align: left;
}

#footer{
  border: 1px solid grey;

}

.recipe-card{
  border: transparent;
  border-radius: 8px;
  padding: 5px;
  background-color: grey;
}

.recipe-img{
  width: 350px;
  height: 400px;

}

#back-button {
  padding: 10px;
  color: #820505;
}

#back-button:hover {
  color: white;
  background-color: #820505;
  box-shadow: 0 0 10px #820505, 0 0 30px #820505, 0 0 50px #820505;
}

/*------------------------------------------------------------------------------------------------------*/
