@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("../reset.css");
@import url("../neon-button.css");

body {
  font-family: sora !important;
  font-size: 13px;
  background-color: #e5e5f7;
  background-image: linear-gradient( 110.4deg,  rgba(255,196,254,1) 9.6%, rgba(251,229,123,1) 91% );
}

#root{
  padding: 50px; 
}

#header{
  text-align: center;
  font-size: 60px;
}

#best-authors-wrapper{
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.author-div{
  display: flex;
  flex-direction: column;
}

.author-img{
  background-color: #e5ebb5;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 5px #f66;
  border-radius: 50%;
}

.author-img:hover{
  cursor: pointer;
  animation: bounceOut 0.8s linear infinite;
}

@keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 4px #f66;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px #f66;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px #f66;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px #f66;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #f66;
    opacity: 1;
  }
}

.name {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 6px;
  text-align: center;
}

#input-wrapper{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6px;
}

#input-recipe-filter{
  min-width: 300px;
}

.custom-select {
  background-color: #f66;
  cursor: pointer;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
}

.custom-input {
  background-color: #f66;
  color: #fff;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  max-width: 120px;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.custom-button {
  cursor: pointer;
  color: #f66;
  padding: 0.5em;
}

#main{
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paginator-container{
  display: flex;
  gap: 2px;
}

#main-center{
  border: 1px solid pink;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#recipes-container {
  border: 1px solid purple;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 330px);
  padding: 50px;
  gap: 15px;
  text-align: left;
}

.recipe-card{
  display: flex;
  justify-content: center;
  border: transparent;
  border-radius: 8px;
  padding: 5px;
  background-color: #e5ebb5;
  border: 1px solid grey;
}

.recipe-title{
  font-size: 16px;
  text-align: center;
}

.recipe-img{
  width: 300px;
  height: 300px;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border: 1px solid grey;
  background-color: white;
  border-radius: 8px;
}

#footer{
  border: 1px solid grey;
}

#back-button {
  padding: 10px;
  color: #820505;
}

#back-button:hover {
  color: white;
  background-color: #820505;
  box-shadow: 0 0 10px #820505, 0 0 30px #820505, 0 0 50px #820505;
}

/*------------------------------------------------------------------------------------------------------*/
