@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("neon-card.css");
@import url("neon-button.css");

#body {
  background-image: url("../img/background-homepage.png");
  padding: 15px;
  font-family: sora !important;
  font-size: 13px;
}

#header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#root {
  display: grid;
  grid-template-rows: auto;
  padding: 50px;
  gap: 30px;
}

.item-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}

.item-description {
  min-height: 170px;
  min-width: 225px;
  padding-left: 30px;
}

/*--------------------------INICIO BOTÃO NEON CUSTOMIZADO---------------------------*/
#root .neon-card:nth-child(1) .neon-button .btn{
  color: #7cfc00;
}

#root .neon-card:nth-child(1) .neon-button .btn:hover {
  color: white;
  background-color: #7cfc00;
  box-shadow: 0 0 10px #7cfc00,
              0 0 30px #7cfc00,
              0 0 50px #7cfc00;
}

#root .neon-card:nth-child(1) .neon-button .btn.btn-neon span:nth-child(1){
  background: linear-gradient(90deg, transparent 30%, #7cfc00);
}

#root .neon-card:nth-child(1) .neon-button .btn.btn-neon span:nth-child(2){
  background: linear-gradient(180deg, transparent 30%, #7cfc00);
}

#root .neon-card:nth-child(1) .neon-button .btn.btn-neon span:nth-child(3){
  background: linear-gradient(270deg, transparent 30%, #7cfc00);
}

#root .neon-card:nth-child(1) .neon-button .btn.btn-neon span:nth-child(4){
  background: linear-gradient(360deg, transparent 30%, #7cfc00);
}

/*-----------------------------------------------------*/

#root .neon-card:nth-child(2) .neon-button .btn{
  color: #ff005e;
}

#root .neon-card:nth-child(2) .neon-button .btn:hover {
  color: white;
  background-color: #ff005e;
  box-shadow: 0 0 10px #ff005e,
              0 0 30px #ff005e,
              0 0 50px #ff005e;
}

#root .neon-card:nth-child(2) .neon-button .btn.btn-neon span:nth-child(1){
  background: linear-gradient(90deg, transparent 30%, #ff005e);
}

#root .neon-card:nth-child(2) .neon-button .btn.btn-neon span:nth-child(2){
  background: linear-gradient(180deg, transparent 30%, #ff005e);
}

#root .neon-card:nth-child(2) .neon-button .btn.btn-neon span:nth-child(3){
  background: linear-gradient(270deg, transparent 30%, #ff005e);
}

#root .neon-card:nth-child(2) .neon-button .btn.btn-neon span:nth-child(4){
  background: linear-gradient(360deg, transparent 30%, #ff005e);
}
/*-----------------------------------------------------*/

#root .neon-card:nth-child(3) .neon-button .btn{
  color: #772aff;
}

#root .neon-card:nth-child(3) .neon-button .btn:hover {
  color: white;
  background-color: #772aff;
  box-shadow: 0 0 10px #772aff,
              0 0 30px #772aff,
              0 0 50px #772aff;
}

#root .neon-card:nth-child(3) .neon-button .btn.btn-neon span:nth-child(1){
  background: linear-gradient(90deg, transparent 30%, #772aff);
}

#root .neon-card:nth-child(3) .neon-button .btn.btn-neon span:nth-child(2){
  background: linear-gradient(180deg, transparent 30%, #772aff);
}

#root .neon-card:nth-child(3) .neon-button .btn.btn-neon span:nth-child(3){
  background: linear-gradient(270deg, transparent 30%, #772aff);
}

#root .neon-card:nth-child(3) .neon-button .btn.btn-neon span:nth-child(4){
  background: linear-gradient(360deg, transparent 30%, #772aff);
}
/*----------------------FIM-------------------------------*/

.grade-input {
  font-size: 16px;
  height: 25px;
  min-width: 175px;
  background-color: #747474;
  color: #fff;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 8px;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.item-final-grade-wrapper {
  min-width: 225px;
  text-align: center;
  vertical-align: middle;
}

.item-final-grade {
  font-size: 20px;
}
